venv
getMethod.py
.vscode/

#sensor Libraries
packages
#sensor Sensitive Data
secrets.hpp

#Local .terraform directories
**/.terraform/*

#.pem files
*.pem

#.hcl files from Terraform v0.14 and newer
*.hcl

#.tfplan files
*.tfplan

#.tfstate files
*.tfstate
*.tfstate.*
