.container {
    max-width: 470px;
}

.background {
    position: absolute;
    min-width: 90vH;
    min-height: 90vH;
    background-image: url('../trmLogo.png');
    background-size: cover;
    margin-left: -6.5vH;
    opacity: 0.2;
    z-index: -1;
}

body {
    display: flex;
    padding-top: 30px;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(23, 27, 36);
    color: #fff;
}

#forgotPasswordLink {
    color: #fff;
}

.btn {
    background-color: #273a57;
    border-color: white;
    color: #fff;
    min-width: 5cm;
    margin: 10px 5px;
}

.btn:hover{
    background-color:#1b283c;
    color: #fff;
}
