.background {
    position: absolute;
    min-width: 100vH;
    min-height: 100vH;
    background-image: url("../trmLogo.png");
    background-size: cover;
    opacity: 0.2;
}

body {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgb(23, 27, 36);
    color: #fff;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.occupancy-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #273a57;
    border-color: #fff;
    color: #fff;
}

.btn:hover {
    background-color: #1b283c;
    border-color: #fff;
    color: #fff;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
}

.canvas {
    display: block;
    margin: 40px auto;
    width: 100%;
    max-width: 1200px;
    background-color: #fdfefe;
}

.dateday {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
}
