
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../trmLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: #fff;   /* Set the default text color to white */
}

/* Summary roombooking and the whole Page */
main {
  flex: 1;
}

 /*Room Booking*/
.room-booking {
  margin-top: 65px;
  margin-left: 60px;
}


.booking-summary {
  background-color: rgba(200, 203, 206, 0.8);
  /* Adjust the background color and transparency */
  padding: 20px;
  height: 89.7%;
  justify-content: center;
  color: #000;
  /* Set the text color inside the booking summary */
  margin-top: 75px;
  margin-right: 60px;
  margin-left: 70px;
}

.booking-summary h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  /* Set the heading color inside the booking summary */
  text-align: center;
}

.booking-summary table {
  border-collapse: collapse;
  width: 100%;
}

.booking-summary th,
.booking-summary td {
  border: 1px solid black;
  padding: 8px;
}

.booking-list {
  margin-top: 20px;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.booking-list .booking-item {
  margin-bottom: 10px;
}

.booking-list .booking-item .booking-details {
  font-size: 14px;
  color: #000;
  /* Set the text color inside the booking list */
}

/* Date Display */
.timebtn {
  display: flex;
  justify-content: center;
}

/* Signout btn */
.logout-container {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

.logout-container input[type="submit"] {
  background-color: #6e0505;
  color: #fff;
  border-color: white;
  transition: background-color 0.3s ease;
}

.logout-container input[type="submit"]:hover {
  background-color: #8b0808;
  border-color: white;
}

/* Book Now Button, Update Booking Button, Delete Booking Button, View room Occupancy btn */
.book-now-btn,
.update-booking-btn,
.delete-booking-btn,
.view-room-booking-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  color: #fff;
  background-color: #6e0505;
  border-color: white;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover,
.update-booking-btn:hover,
.delete-booking-btn:hover,
.view-room-booking-btn:hover {
  background-color: #8b0808;
  border-color: white;
}

.btn-length {
  width: 100%; /* Adjust the width as needed */
}



/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Small screens */
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .book-now-btn,
  .update-booking-btn,
  .delete-booking-btn,
  .view-room-booking-btn {
    margin-top: 10px;
  }
}