.background {
    position: absolute;
    min-width: 100vH;
    min-height: 100vH;
    background-image: url("../trmLogo.png");
    background-size: cover;
    opacity: 0.2;
}

body {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(23, 27, 36);
    color: #fff;flex-direction: column;
}

.room-booking {
    margin: 65px 60px 0 60px;
}

.booking-summary {
    background-color: rgba(184, 202, 220, 0.8);
    padding: 20px;
    height: 89.7%;
    color: #000;
    margin: 75px 60px 0 70px;
}

.booking-summary h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.booking-summary table {
    border-collapse: collapse;
    width: 100%;
}

.booking-summary th,
.booking-summary td {
    border: 2px solid black;
    padding: 8px;
    color: #000;
}

.booking-summary th {
    background-color: #30486c;
    color: #fff;
}

.booking-list {
    margin-top: 20px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

/* Date Display */
.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    gap: 20px;
}

.signout-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 72px;
    gap: 20px;
}

#signOutButton {
    background-color: #273a57;
    color: #fff;
    border-color: #fff !important;
}

#userstatus {
    gap: 10px
}

#signOutButton:hover {
    background-color:#1b283c;
    color: #fff;
}

.button-container {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
  }

.btn {
    margin: 10px 5px;
    padding: 10px 20px;
    width: 100%;
    background-color: #273a57;
    border-color: #fff !important;
    color: #fff;
}

.btn:hover {
    background-color:#1b283c;
    color: #fff;
}

/* Media Queries */
@media (max-width: 767px) {
    /* Small screens */
    .button-container {
    flex-direction: column;
    align-items: center;
    }
}

#dateDisplay {
    display: flex;
    justify-content: center;
    width: 40%;
}
