
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

main {
  flex: 1;
}
/* room booking */ 
.container{
  justify-content: center;
  width: 50%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../Documentation/Images/trmLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; /* Set the default text color to white */
}

/* Summary roombooking and the whole Page */ 
main {
  flex: 1;
}
.booking-summary {
  background-color: rgba(200, 203, 206, 0.8); /* Adjust the background color and transparency */
  padding: 20px;
  height: 100%;
  justify-content: center;
  color: #000; /* Set the text color inside the booking summary */
}
.booking-summary h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000; /* Set the heading color inside the booking summary */
  text-align: center;
}
.booking-summary table {
  border-collapse: collapse;
  width: 100%;
}
.booking-summary th,
.booking-summary td {
  border: 1px solid black;
  padding: 8px;
}
.booking-list {
  margin-top: 20px;
  height: calc(100% - 50px);
  overflow-y: auto;
}
.booking-list .booking-item {
  margin-bottom: 10px;
}
.booking-list .booking-item .booking-details {
  font-size: 14px;
  color: #000; /* Set the text color inside the booking list */
}

/*Date Display*/
.timebtn {
  display: flex;
  justify-content: center;
}

/* View room Occupany */
.view-room-booking-btn {
  background-color: #007bff;; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
  border: none; /* Remove the border */
  margin-top: 17px;
  margin-right: 50px;
}
.view-room-booking-btn:hover {
  background-color: #0056b3; /* Set the background color on hover */
}


/*Book Now Button*/
.book-now-btn {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
  border: none; /* Remove the border */
}
.book-now-btn:hover {
  background-color: #0056b3; /* Set the background color on hover */
}

/*Delete Booking Button*/
.delete-booking-btn {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
  border: none; /* Remove the border */
}

.delete-booking-btn:hover {
  background-color: #0056b3; /* Set the background color on hover */
}

